:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    background: #ffffff;
    color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 링크 기본 스타일 */
a {
    font-weight: 500;
    text-decoration: inherit;
}

a:hover {
    color: #646cff;
}

/* 전역 body 스타일 */
body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background: #ffffff;
}

/* 기본 버튼 스타일 */
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

/* 버튼 hover */
button:hover {
    border-color: #646cff;
}

/* 버튼 focus 제거 */
button:focus,
button:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

/* 라이트 모드 */
@media (prefers-color-scheme: light) {
    :root {
        color: #000000;
        background-color: #ffffff;
    }

    button {
        background-color: #f9f9f9;
    }
}
